/***************** 
	VARIABLES 
*****************/

	$black: #25272B;
	$white: #fff;
	$dark-teal: #008cba; 
	$navcolor: #cfd1d4;
	$brdr-color: #f8f8f8;
	$h4i-color: #bbbdc0;
	$mb5: 5%;
	$s-margin: 15px 0 0 0;
	$fivems: .5s;
	$fourms: .4s;
	$threems: .3s;
	$twoms: .2s;
	$onems: .1s;
	$ones: 1s;
	
	//MOBILE
	$size1: 767px;
	$size2: 768px;
	$size3: 568px;
	$size4: 480px;
	$thumb: 48px;

/***************** 
	IMPORTS
*****************/
	@import "partials/navigation";
	@import "partials/intro";
	@import "partials/services";
	@import "partials/works";
	@import "partials/gallery";
	@import "partials/team";
	@import "partials/contact";
	@import "partials/footer";
	@import "partials/sectionHeaders";
	@import "partials/carousel";
	@import "partials/ekko-lightbox";
	@import "partials/typography";
	@import "partials/preloader";
	@import "partials/goTop";
	@import "partials/mobile";

/***************** 
	STYLES
*****************/

body {
	font-family: 'Open Sans', sans-serif;
	color: $black;
	height: 100%;
}

.divide {
	margin-top: $mb5;
	margin-bottom: $mb5;
}

.divide-bottom {
	margin-bottom: $mb5;
}

