

/*************
	Contact
**************/

.gmap {
	height: 350px;
}

#contact  {
	background: $white;
}

.form-control, 
.form-control:focus {
	color: #25272B;
	border: 0;
	outline: none;
	resize: none;
	background: #eeeff2;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	border: 0;
}

.form-group {
	margin-top: 5%;
}

.form-group, label {
	font-weight: 400;
	line-height: 1.2;
}

form{
	 .btn {
		background: $dark-teal;
		color: $white;
		display: inline-block;
		margin: 0;
		-webkit-transition: all $onems linear;
		-moz-transition: all $onems linear;
		-o-transition: all $onems linear;
		transition: all $onems linear;
	}
	.btn:hover {
		background: #0079ad;
		color: $white;
	}
	.btn:focus {
		background: $dark-teal;
		color: $white;
		outline: 0 auto transparent;
		outline-offset: -2px;
	}
}

.flowuplabels{
	.fl_wrap {
		height: 45px;
		position: relative;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.fl_label {
		top: 12px;
		position: absolute;
		z-index: 3;
		-webkit-transition: all $onems linear;
		-moz-transition: all $onems linear;
		-o-transition: all $onems linear;
		transition: all $onems linear;
	}
	.fl_input {
		background: none;
		border: none;
		border-bottom: 2px solid #f1f2f3;
		border-radius: 0;
		padding: 13px 0 0 0;
		z-index: 2;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
	.fl_wrap.focused .fl_label, 
	.fl_wrap.populated .fl_label {
		top: -5px;
		font-size: 12px;
	}
	.fl_wrap.focused .fl_label {
		color: $dark-teal;
	}
}


.message {
	display: none;
}

#form-alert {
	padding: 5px 15px 5px 15px;
	margin: 15px 0 0 0;
}

.alert li {
	list-style: none;
	display: inline-block;
}

.alert-danger, .alert-succes {
	border-width: 1px;
	border-radius: 0;
}

.alert-danger{
	color: #b94a48;
	}

.alert-succes {
	color: #468847;
}