/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/***************** 
	VARIABLES 
*****************/
/***************** 
	STYLES
*****************/
/* line 16, ../sass/style.scss */
body {
  font-family: 'Open Sans', sans-serif;
  color: #25272b;
  height: 100%;
}

/* line 22, ../sass/style.scss */
.divide {
  margin-top: 5%;
  margin-bottom: 5%;
}

/* line 27, ../sass/style.scss */
.divide-bottom {
  margin-bottom: 5%;
}

/***************** 
	INTRO 
*****************/
/* line 36, ../sass/style.scss */
#intro {
  min-height: 445px;
  background: #008cba url("../img/intro_bg.jpg") no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 41, ../sass/style.scss */
#intro h1 {
  font-weight: 300;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  margin: auto;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 54, ../sass/style.scss */
#intro .item {
  height: 100%;
}

/***************** 
	INTRO SCROLL BUTTON
*****************/
/* line 63, ../sass/style.scss */
.scroll-btn {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  text-align: center;
  opacity: .75;
}
/* line 71, ../sass/style.scss */
.scroll-btn .mouse {
  position: relative;
  display: block;
  width: 50px;
  height: 75px;
  margin: 0 auto 40px;
  border: 2px solid white;
  border-radius: 23px;
}
/* line 79, ../sass/style.scss */
.scroll-btn .mouse span {
  position: absolute;
  display: block;
  top: 25%;
  left: 50%;
  width: 6px;
  height: 6px;
  margin: -3px 0 0 -3px;
  background: white;
  border-radius: 50%;
  -webkit-animation: scroll 2s linear infinite;
  -moz-animation: scroll 2s linear infinite;
  animation: scroll 2s linear infinite;
}

@-webkit-keyframes scroll {
  /* line 97, ../sass/style.scss */
  0% {
    opacity: 1;
    top: 40%;
  }

  /* line 98, ../sass/style.scss */
  33% {
    opacity: 1;
    top: 25%;
  }

  /* line 99, ../sass/style.scss */
  66% {
    opacity: 0;
    top: 25%;
  }

  /* line 100, ../sass/style.scss */
  100% {
    opacity: 0;
    top: 40%;
  }
}

@-moz-keyframes scroll {
  /* line 104, ../sass/style.scss */
  0% {
    opacity: 1;
    top: 40%;
  }

  /* line 105, ../sass/style.scss */
  33% {
    opacity: 1;
    top: 25%;
  }

  /* line 106, ../sass/style.scss */
  66% {
    opacity: 0;
    top: 25%;
  }

  /* line 107, ../sass/style.scss */
  100% {
    opacity: 0;
    top: 40%;
  }
}

@keyframes scroll {
  /* line 111, ../sass/style.scss */
  0% {
    opacity: 1;
    top: 40%;
  }

  /* line 112, ../sass/style.scss */
  33% {
    opacity: 1;
    top: 25%;
  }

  /* line 113, ../sass/style.scss */
  66% {
    opacity: 0;
    top: 25%;
  }

  /* line 114, ../sass/style.scss */
  100% {
    opacity: 0;
    top: 40%;
  }
}

/***************** 
	Navigation
*****************/
/* line 122, ../sass/style.scss */
.navbar-default {
  background: transparent;
  border-color: transparent;
  padding: 5px 0px;
}

@media (max-width: 767px) {
  /* line 129, ../sass/style.scss */
  .navbar-default {
    background-color: white !important;
  }

  /* line 132, ../sass/style.scss */
  .navbar a {
    color: #25272b !important;
  }
}
/* line 137, ../sass/style.scss */
.navbar-default .navbar-collapse {
  border-color: #f8f8f8;
}

/* line 141, ../sass/style.scss */
.navbar-fixed-top {
  position: fixed;
}

/* line 145, ../sass/style.scss */
.navbar-brand {
  line-height: 0;
}

/* line 149, ../sass/style.scss */
.nav li:first-child {
  display: none;
}

/* line 153, ../sass/style.scss */
.nav a {
  color: #25272b;
}

/* line 157, ../sass/style.scss */
.nav a:hover {
  color: #cfd1d4 !important;
}

/* line 161, ../sass/style.scss */
.nav .active a {
  color: #cfd1d4 !important;
}

/* line 165, ../sass/style.scss */
.navbar a {
  font-size: 13px;
  text-align: center;
  padding: 15px;
}

/* line 171, ../sass/style.scss */
.navbar a, .navbar .active a:hover, .navbar .active a:focus {
  background-color: transparent !important;
}

/* line 175, ../sass/style.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ddd;
}

/* line 179, ../sass/style.scss */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

/***************** 
	Carousel
*****************/
/* line 188, ../sass/style.scss */
.carousel-inner .item {
  text-align: center;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate(0);
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
/* line 200, ../sass/style.scss */
.carousel-inner .item.active {
  opacity: 1;
  filter: alpha(opacity=100);
}
/* line 204, ../sass/style.scss */
.carousel-inner .next, .carousel-inner .prev {
  left: 0;
  z-index: 1;
}
/* line 208, ../sass/style.scss */
.carousel-inner .active.left, .carousel-inner .active.right {
  opacity: 0;
  filter: alpha(opacity=0);
  left: 0;
  z-index: 2;
}

/* line 217, ../sass/style.scss */
.carousel-control.left, .carousel-control.right {
  background-image: none;
  background: none;
  width: 10%;
  border: none;
  text-shadow: none;
  color: #333;
  z-index: 3;
}

/* line 227, ../sass/style.scss */
.carousel-control.btn:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/**********************
		Typography 
**********************/
/* line 238, ../sass/style.scss */
p {
  margin: 20px 0 0 0;
}

/* line 242, ../sass/style.scss */
h1 {
  font-size: 56px;
  font-weight: 300;
  margin: 20px 0 0 0;
  line-height: 1;
  letter-spacing: -2px;
}

@media (max-width: 768px) {
  /* line 251, ../sass/style.scss */
  h1 {
    font-size: 42px;
    letter-spacing: -2px;
  }
}
@media (max-width: 480px) {
  /* line 258, ../sass/style.scss */
  h1 {
    font-size: 28px;
    letter-spacing: -1px;
  }
}
/* line 264, ../sass/style.scss */
h3 {
  font-size: 20px;
  font-weight: 300;
}

/* line 269, ../sass/style.scss */
h4 {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
}

/* line 276, ../sass/style.scss */
a {
  color: #25272b;
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
}

/* line 284, ../sass/style.scss */
a:hover {
  color: #949598;
  text-decoration: none;
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
}

/* line 293, ../sass/style.scss */
textarea:focus, input:focus, a:focus, *:focus {
  outline: none;
}

/* line 297, ../sass/style.scss */
.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0;
}

/*****************
	Services
******************/
/* line 307, ../sass/style.scss */
#services {
  background: #fff;
}
/* line 309, ../sass/style.scss */
#services .thumbnail {
  background: transparent;
  text-align: center;
  position: relative;
  padding: 0;
  margin: 25px 0;
  border: 0;
}
/* line 316, ../sass/style.scss */
#services .thumbnail i {
  color: #bbbdc0;
  font-size: 68px;
}

/* line 324, ../sass/style.scss */
.myway-icon-services {
  position: relative;
  width: 68px;
  height: 68px;
  display: inline-block;
  fill: #bbbdc0;
  stroke: white;
  stroke-width: 0.8px;
  stroke-linecap: butt;
  stroke-linejoin: bevel;
  stroke-dasharray: 0, 150;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

@media (max-width: 767px) {
  /* line 343, ../sass/style.scss */
  .myway-icon-services {
    width: 48px;
    height: 48px;
  }
}
/* line 350, ../sass/style.scss */
.thumbnail:hover .myway-icon-services {
  fill: #008cba;
  stroke-dasharray: 150, 0;
}

/* line 355, ../sass/style.scss */
.myway-icon-services:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  /* line 369, ../sass/style.scss */
  #services .thumbnail i {
    font-size: 48px;
  }
  /* line 372, ../sass/style.scss */
  #services .thumbnail h3 {
    color: #008cba;
    margin: 15px 0 0 0;
  }
  /* line 376, ../sass/style.scss */
  #services .thumbnail h4 {
    color: #bbbdc0;
    margin: 15px 0 0 0;
  }
  /* line 380, ../sass/style.scss */
  #services .thumbnail p {
    margin: 0;
    margin: 15px 0 0 0;
  }
}
/* line 389, ../sass/style.scss */
#features {
  background: #008cba;
}

/* line 393, ../sass/style.scss */
#features h1 {
  color: white;
}

/* line 397, ../sass/style.scss */
#features h4 {
  color: white;
}

/* line 401, ../sass/style.scss */
#features p {
  color: white;
}

/* line 405, ../sass/style.scss */
.myway-icon-features {
  position: relative;
  width: 180px;
  height: 180px;
  display: inline-block;
  fill: white;
  stroke: white;
  stroke-width: 0.02em;
  stroke-opacity: 1;
  stroke-linecap: butt;
  stroke-linejoin: bevel;
  stroke-dasharray: 150px;
  stroke-dashoffset: 150px;
  -webkit-transition: all .75s ease;
  -moz-transition: all .75s ease;
  -ms-transition: all .75s ease;
  -o-transition: all .75s ease;
  transition: all .75s ease;
}

@media (max-width: 767px) {
  /* line 426, ../sass/style.scss */
  .myway-icon-features {
    width: 90px;
    height: 90px;
  }
}
/* line 432, ../sass/style.scss */
.myway-icon-features:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*********************
		Works
 *********************/
/* line 445, ../sass/style.scss */
#works-top {
  background: url("../img/works_bg.jpg") no-repeat center center;
  background-size: cover;
}

/* line 450, ../sass/style.scss */
#works {
  background: white;
}
/* line 452, ../sass/style.scss */
#works h1 {
  margin: 20px 0 0 0;
}
/* line 455, ../sass/style.scss */
#works h4 {
  color: #bbbdc0;
  margin: 20px 0 0 0;
}
/* line 459, ../sass/style.scss */
#works p {
  margin: 20px 0 0 0;
}

/* line 464, ../sass/style.scss */
.btn.btn-link {
  font-weight: 300;
  font-size: 13px;
  background-color: transparent;
  color: #008cba;
  border: 0;
  border-radius: 0;
  outline: 1px solid;
  outline-offset: 1px;
  outline-color: #008cba;
  margin: 20px 0 0 0;
  padding: 8px 13px;
  text-decoration: none;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

/* line 484, ../sass/style.scss */
.btn.btn-link:hover {
  background-color: #008cba;
  color: #fff;
  outline-offset: 10px;
  outline-color: rgba(0, 140, 186, 0);
}

/***************
	SECTION HEADERS
***************/
/* line 496, ../sass/style.scss */
h1.header {
  font-size: 72px;
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
  letter-spacing: -3px;
}

@media (max-width: 768px) {
  /* line 505, ../sass/style.scss */
  h1.header {
    font-size: 48px;
    letter-spacing: -2px;
  }
}
@media (max-width: 480px) {
  /* line 512, ../sass/style.scss */
  h1.header {
    font-size: 36px;
    letter-spacing: -1px;
  }
}
/* line 518, ../sass/style.scss */
p.header {
  font-size: 13px;
  color: #fff;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* line 530, ../sass/style.scss */
#services-top,
#works-top,
#gallery-top,
#team-top {
  padding: 90px 0;
}

@media (max-width: 767px) {
  /* line 538, ../sass/style.scss */
  #services-top,
  #works-top,
  #gallery-top,
  #team-top {
    padding: 50px 0;
  }
}
/******************
	Preloader
*****************/
/* line 548, ../sass/style.scss */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #008cba;
  z-index: 9999;
}
/* line 556, ../sass/style.scss */
.preloader .spinner {
  font-weight: 300;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  width: 70px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 567, ../sass/style.scss */
.preloader .spinner div {
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* line 578, ../sass/style.scss */
.preloader .spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
/* line 582, ../sass/style.scss */
.preloader .spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  /* line 592, ../sass/style.scss */
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }

  /* line 593, ../sass/style.scss */
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes bouncedelay {
  /* line 597, ../sass/style.scss */
  0%, 80%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }

  /* line 600, ../sass/style.scss */
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

/**************************
		Gallery
**************************/
/* line 610, ../sass/style.scss */
#gallery-top {
  background: url("../img/gallery_bg.jpg");
}

/* line 614, ../sass/style.scss */
#gallery {
  background: #fff;
}
/* line 616, ../sass/style.scss */
#gallery .thumbnail {
  background: transparent;
  text-align: center;
  position: relative;
  padding: 0;
  margin: 0;
  border: 0;
}

/* line 626, ../sass/style.scss */
.gallery-item {
  padding: 0;
}

/* line 630, ../sass/style.scss */
.gallery-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 643, ../sass/style.scss */
.gallery-overlay:hover {
  background: rgba(0, 0, 0, 0.4);
}

/* line 647, ../sass/style.scss */
.gallery-overlay .myway-icon-gallery {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 68px;
  height: 68px;
  display: inline-block;
  fill: rgba(255, 255, 255, 0);
  stroke: white;
  stroke-width: .05em;
  stroke-opacity: 1;
  stroke-linecap: butt;
  stroke-linejoin: bevel;
  stroke-dasharray: 0, 150;
  -webkit-transition: fill 1.5s, stroke-dasharray .75s, stroke-opacity 1.5s ease;
  -moz-transition: fill 1.5s, stroke-dasharray .75s, stroke-opacity 1.5s ease;
  -ms-transition: fill 1.5s, stroke-dasharray .75s, stroke-opacity 1.5s ease;
  -o-transition: fill 1.5s, stroke-dasharray .75s, stroke-opacity 1.5s ease;
  transition: fill 1.5s, stroke-dasharray .75s, stroke-opacity 1.5s ease;
}

@media (max-width: 767px) {
  /* line 673, ../sass/style.scss */
  .myway-icon-gallery {
    width: 48px;
    height: 48px;
  }
}
/* line 679, ../sass/style.scss */
.gallery-overlay:hover > .myway-icon-gallery {
  fill: white;
  stroke-dasharray: 150, 1;
  stroke-opacity: 0;
}

/* line 685, ../sass/style.scss */
.myway-icon-gallery:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/***********************
		Team
***********************/
/* line 698, ../sass/style.scss */
#team-top {
  background: url("../img/team_bg.jpg") no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
}

/* line 704, ../sass/style.scss */
#team {
  background: #fff;
}
/* line 706, ../sass/style.scss */
#team .thumbnail, #team .team-img {
  background-color: transparent;
  position: relative;
  text-align: center;
  padding: 0;
  margin: 0;
  border: 0;
}
/* line 714, ../sass/style.scss */
#team .thumbnail h3 {
  color: #008cba;
  margin: 15px 0 0 0;
}
/* line 718, ../sass/style.scss */
#team .thumbnail h4 {
  font-size: 13px;
  font-weight: 300;
  margin: 15px 0 0 0;
  text-transform: uppercase;
}
/* line 724, ../sass/style.scss */
#team .thumbnail p {
  margin: 15px 0 0 0;
}

/* line 729, ../sass/style.scss */
.team-overlay {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 736, ../sass/style.scss */
.team-overlay .myway-icon-team {
  position: absolute;
  top: 110%;
  left: 50%;
  right: 0;
  display: inline-block;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: top .2s ease;
  -moz-transition: top .2s ease;
  -ms-transition: top .2s ease;
  -o-transition: top .2s ease;
  transition: top .2s ease;
}
/* line 751, ../sass/style.scss */
.team-overlay .myway-icon-team a {
  width: 42px;
  height: 42px;
  fill: rgba(255, 255, 255, 0);
  stroke: white;
  stroke-width: 0.08em;
  stroke-opacity: 1;
  stroke-linecap: butt;
  stroke-linejoin: bevel;
  stroke-dasharray: 0, 150;
  stroke-dashoffset: 150px;
  filter: drop-shadow(0px 0px 20px black);
  -webkit-filter: drop-shadow(0px 0px 30px black);
  -webkit-transition: fill 2s, stroke-dasharray 1s, stroke-opacity 2s, filter 1s ease;
  -moz-transition: fill 2s, stroke-dasharray 1s, stroke-opacity 2s, filter 1s ease;
  -ms-transition: fill 2s, stroke-dasharray 1s, stroke-opacity 2s, filter 1s ease;
  -o-transition: fill 2s, stroke-dasharray 1s, stroke-opacity 2s, filter 1s ease;
  transition: fill 2s, stroke-dasharray 1s, stroke-opacity 2s, filter 1s ease;
}

/* line 773, ../sass/style.scss */
.team-overlay:hover .myway-icon-team {
  top: 50%;
}
/* line 775, ../sass/style.scss */
.team-overlay:hover .myway-icon-team a {
  fill: white;
  stroke-dasharray: 150, 1;
  stroke-opacity: 0;
}

/* line 784, ../sass/style.scss */
.myway-icon-team svg {
  padding: 5px;
  display: inline-block;
  max-width: 42px;
}
/* line 789, ../sass/style.scss */
.myway-icon-team a {
  position: relative;
  display: inline-block;
  z-index: 1;
  -webkit-transition: fill 2s, stroke-dashoffset 1s, top .2s, filter 1s ease;
  -moz-transition: fill 2s, stroke-dashoffset 1s, top .2s, filter 1s ease;
  -ms-transition: fill 2s, stroke-dashoffset 1s, top .2s, filter 1s ease;
  -o-transition: fill 2s, stroke-dashoffset 1s, top .2s, filter 1s ease;
  transition: fill 2s, stroke-dashoffset 1s, top .2s, filter 1s ease;
}
/* line 799, ../sass/style.scss */
.myway-icon-team a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* line 812, ../sass/style.scss */
.testimonial blockquote {
  font-size: 14px;
  position: relative;
  padding: 30px 0 45px 0;
  margin: 0;
  top: 0;
  border-left: 0;
  min-height: 185px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

/* line 829, ../sass/style.scss */
.testimonial:hover blockquote {
  top: -5px;
  box-shadow: 0 5px 0 #008cba;
}

/*************
	Contact
**************/
/* line 839, ../sass/style.scss */
.gmap {
  height: 350px;
}

@media (max-width: 568px) {
  /* line 845, ../sass/style.scss */
  .gmap {
    height: 200px;
  }
}
/* line 850, ../sass/style.scss */
#contact {
  background: #fff;
}

/* line 855, ../sass/style.scss */
.form-control,
.form-control:focus {
  color: #25272B;
  border: 0;
  outline: none;
  resize: none;
  background: #eeeff2;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

/* line 871, ../sass/style.scss */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

/* line 882, ../sass/style.scss */
.form-group {
  margin-top: 5%;
}

@media (min-width: 768px) {
  /* line 887, ../sass/style.scss */
  .form-group {
    display: inline-block;
  }
}
/* line 892, ../sass/style.scss */
.form-group, label {
  font-weight: 400;
  line-height: 1.2;
}

/* line 898, ../sass/style.scss */
form .btn {
  background: #008cba;
  color: #fff;
  display: inline-block;
  margin: 0;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
}
/* line 908, ../sass/style.scss */
form .btn:hover {
  background: #0079ad;
  color: #fff;
}
/* line 912, ../sass/style.scss */
form .btn:focus {
  background: #008cba;
  color: #fff;
  outline: 0 auto transparent;
  outline-offset: -2px;
}

/* line 921, ../sass/style.scss */
.flowuplabels .fl_wrap {
  height: 45px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 928, ../sass/style.scss */
.flowuplabels .fl_label {
  top: 12px;
  position: absolute;
  z-index: 3;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
}
/* line 937, ../sass/style.scss */
.flowuplabels .fl_input {
  background: none;
  border: none;
  border-bottom: 2px solid #f1f2f3;
  border-radius: 0;
  padding: 13px 0 0 0;
  z-index: 2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 949, ../sass/style.scss */
.flowuplabels .fl_wrap.focused .fl_label,
.flowuplabels .fl_wrap.populated .fl_label {
  top: -5px;
  font-size: 12px;
}
/* line 953, ../sass/style.scss */
.flowuplabels .fl_wrap.focused .fl_label {
  color: #008cba;
}

/* line 959, ../sass/style.scss */
.message {
  display: none;
}

/* line 963, ../sass/style.scss */
#form-alert {
  padding: 5px 15px 5px 15px;
  margin: 15px 0 0 0;
}

/* line 968, ../sass/style.scss */
.alert li {
  list-style: none;
  display: inline-block;
}

/* line 973, ../sass/style.scss */
.alert-danger, .alert-succes {
  border-width: 1px;
  border-radius: 0;
}

/* line 978, ../sass/style.scss */
.alert-danger {
  color: #b94a48;
}

/* line 982, ../sass/style.scss */
.alert-succes {
  color: #468847;
}

/***************
	Footer
****************/
/* ==== 10) Footer ==== */
/* line 992, ../sass/style.scss */
#footer {
  background-color: #eeeff2;
  border-top: 1px solid #e9ebed;
}
/* line 995, ../sass/style.scss */
#footer .col-sm-2 ul {
  border-bottom: 1px solid #dfe1e3;
  padding-bottom: 15px;
}
/* line 999, ../sass/style.scss */
#footer ul {
  list-style: none;
  -webkit-padding-start: 0px;
}
/* line 1003, ../sass/style.scss */
#footer li {
  padding-bottom: 5px;
  text-align: right;
}
/* line 1007, ../sass/style.scss */
#footer img {
  padding: 15px 0 0 0;
}
/* line 1010, ../sass/style.scss */
#footer h5 {
  border-bottom: 1px solid #dfe1e3;
  padding-bottom: 15px;
  margin-top: 15px;
}
/* line 1015, ../sass/style.scss */
#footer .facebook {
  color: #3B5998;
}
/* line 1018, ../sass/style.scss */
#footer .twitter {
  color: #09C;
}
/* line 1021, ../sass/style.scss */
#footer .gplus {
  color: #dd4b38;
}
/* line 1024, ../sass/style.scss */
#footer .instagram {
  color: #3F729B;
}
/* line 1027, ../sass/style.scss */
#footer .pinterest {
  color: #CB2027;
}
/* line 1034, ../sass/style.scss */
#footer .facebook:hover,
#footer .twitter:hover,
#footer .pinterest:hover,
#footer .instagram:hover,
#footer .google:hover {
  opacity: 0.6;
}

@media (max-width: 767px) {
  /* line 1042, ../sass/style.scss */
  #footer li {
    text-align: left;
  }
}
/**********************
		GO TOP
**********************/
/* line 1050, ../sass/style.scss */
.go-top {
  position: fixed;
  bottom: 1em;
  right: 1em;
  text-decoration: none;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  font-size: 13px;
  padding: 1em;
  padding-top: 1.20em;
  padding-bottom: 1.20em;
}

/* line 1063, ../sass/style.scss */
.go-top:hover {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
}

/*lightbox*/
/* line 5, ../sass/ekko-lightbox.scss */
.modal-backdrop.in {
  -webkit-opacity: 0.95;
  -moz-opacity: 0.95;
  opacity: 0.95;
  background-color: #333333;
}

/* line 13, ../sass/ekko-lightbox.scss */
.ekko-lightbox .modal-content {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  background-color: transparent;
}
/* line 24, ../sass/ekko-lightbox.scss */
.ekko-lightbox .modal-header {
  border: 0;
  padding-left: 0;
  padding-right: 0;
}
/* line 28, ../sass/ekko-lightbox.scss */
.ekko-lightbox .modal-header .close {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  color: #fff;
  text-shadow: 0;
  font-weight: 100;
  margin-top: 5px;
}
/* line 37, ../sass/ekko-lightbox.scss */
.ekko-lightbox .modal-header .close:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
/* line 42, ../sass/ekko-lightbox.scss */
.ekko-lightbox .modal-header h4.modal-title {
  font-weight: 100;
  color: #fff;
  padding: 0;
}
/* line 49, ../sass/ekko-lightbox.scss */
.ekko-lightbox .modal-body {
  padding: 0;
}
/* line 53, ../sass/ekko-lightbox.scss */
.ekko-lightbox .modal-footer {
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
  border: 0;
  color: #fff;
  font-weight: 100;
  padding: 0;
}

/* line 64, ../sass/ekko-lightbox.scss */
.ekko-lightbox-nav-overlay a {
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
  text-shadow: none;
}
